* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;
    background: #1B212D;
    display: flex;
}

.logo {
    text-transform: uppercase;
    position: absolute;
    width: 192px;
    height: 36px;
    left: 140px;
    top: 22px;
}

.rectangle__1 {
    position: absolute;
    left: 0;
    right: 83.85%;
    top: 5.56%;
    bottom: 8.33%;

    background: #FBFF41;
    border-radius: 6.2px;
}

.rectangle__2 {
    position: absolute;
    width: 19.22px;
    height: 8.06px;
    top:19.36px;
    left: 5.89px;

    -moz-border-radius-bottomleft: 30px 30px;
    -moz-border-radius-bottomright: 30px 30px;
    background: #1B212D;
}

.rectangle__3 {
    position: absolute;
    left: 21.88%;
    right: 42.5%;
    top: 9.92%;
    bottom: 9.86%;

    background: #FBFF41;
}

.lol {
    position: absolute;
    width: 51.89px;
    height: 18.34px;
    left: 0.58px;
    top: 0.2px;

    background: #000000;
}



.ellipse__1 {
    position: absolute;
    width: 6.2px;
    height: 3.1px;
    top: 9.44px;
    left: 6.2px;

    background: #1B212D;
}

.ellipse__2 {
    position: absolute;
    width: 6.2px;
    height: 3.1px;
    top: 9.44px;
    left: 18.29px;

    background: #1B212D;
}