* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #1B212D;
}

header {
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;

    background: #1B212D;
    border-bottom: 1px solid #17121C;
}

.logo {
    position: absolute;
    width: 192px;
    height: 36px;
    left: 140px;
    top: 22px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;

    position: absolute;
    width: 780px;
    height: 28px;
    left: 500px;
    top: 26px;
}

.menu a {
    position: relative;
    height: 28px;
    top: 0;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    transition: .4s ease-out;

    color: #FFFFFF;

    flex: none;
    flex-grow: 0;
    margin: 0 14px;
}

.menu a::after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #FBFF41;
    content: "";
    transition: width .4s ease-out;
}

.menu a:hover:after,
.menu a:focus:after {
    width: 100%;
}

.menu a:hover {
    color: #FBFF41;
    transition: .4s ease-out;
}

.current__link {
    color: #FBFF41;
}

.sign__in {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: absolute;
    width: 105px;
    height: 48px;
    left: 1300px;
    top: calc(50% - 48px / 2);

    border-radius: 8px;
}

.sign__in__logo {
    position: static;
    width: 24px;
    height: 24px;
    left: 25px;
    top: 12px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 5px;
}

.sign__in__text {
    position: static;
    width: 54px;
    height: 28px;
    left: 54px;
    top: 10px;

    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;

    text-align: center;

    color: #FBFF41;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0 5px;
}

.sign__in img {
    transform: rotate(0);
    transition: .4s ease-out;
}

.sign__in:hover img {
    transform: rotate(180deg);
    transition: .4s ease-out;
}

.sign__in__page__logo {
    position: absolute;
    width: 246px;
    height: 46px;
    top: 130px;
    left: 650px;
}

.student__office__text {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: #FFFFFF;
    line-height: 56px;
    width: 467px;
    height: 56px;
    left: 530px;
    top: 206px;
    text-align: center;
}

.sign__in__form {
    position: absolute;
    width: 400px;
    height: 300px;
    left: 570px;
    top: 302px;
    text-align: center;
}

.sign__in__form input[type=text], .sign__in__form input[type=password] {
    background: #1B212D;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 3px solid #FBFF41;
    width: 280px;
    height: 45px;
    outline: none;
    color: #FFFFFF;
    border-radius: 15px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    transition: .4s;
}

.sign__in__form input[type=text]:focus, .sign__in__form input[type=password]:focus {
    width: 390px;
    background-color: #FBFF41;
    border-color: #FBFF41;
    color: #1B212D;
    transition: .4s;
}

.sign__in__form input[placeholder]::-webkit-input-placeholder {
    color: #FBFF41;
    transition: .4s;
}

.sign__in__form input[placeholder]:focus::-webkit-input-placeholder {
    color: #1B212D;
    transform: translateY(100px);
    transition: .4s;
}

.sign__in__form input[placeholder]::-moz-placeholder {
    color: #FBFF41;
    transition: .4s;
    opacity: 1;
}

.sign__in__form input[placeholder]:focus::-moz-placeholder {
    color: #1B212D;
    transform: translateY(100px);
    transition: .4s;
}

.sign__in__form input[placeholder]:-moz-placeholder {
    color: #FBFF41;
    transition: .4s;
    opacity: 1;
}

.sign__in__form input[placeholder]:focus:-moz-placeholder {
    color: #1B212D;
    transform: translateY(100px);
    transition: .4s;
}

.sign__in__form input[placeholder]:-ms-input-placeholder {
    color: #FBFF41;
    transition: .4s;
    opacity: 1;
}

.sign__in__form input[placeholder]:focus:-ms-input-placeholder {
    color: #1B212D;
    transform: translateY(100px);
    transition: .4s;
}

.sign__in__button {
    background: #1B212D;
    display: block;
    margin-right: 100px;
    text-align: center;
    border: 3px solid #FBFF41;
    width: 150px;
    height: 100%;
    outline: none;
    color: #FBFF41;
    border-radius: 15px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    transition: .4s;
}

.sign__up__button {
    background: #1B212D;
    display: block;
    text-align: center;
    border: 3px solid #FBFF41;
    width: 150px;
    height: 100%;
    outline: none;
    color: #FBFF41;
    border-radius: 15px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    transition: .4s;
}

.buttons {
    display: flex;
    flex-wrap: nowrap;
    width: 400px;
    height: 50px;
}

.sign__in__button:hover {
    background: #FBFF41;
    color: #1B212D;
    transition: .4s;
}

.sign__up__button:hover {
    background: #FBFF41;
    color: #1B212D;
    transition: .4s;
}

.sign__up__page__button {
    background: #1B212D;
    display: block;
    margin: 0 125px;
    text-align: center;
    border: 3px solid #FBFF41;
    width: 150px;
    height: 50px;
    outline: none;
    color: #FBFF41;
    border-radius: 15px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    transition: .4s;
}

.sign__up__page__button:hover {
    background: #FBFF41;
    color: #1B212D;
    transition: .4s;
}

.sign__up__form {
    position: absolute;
    width: 400px;
    height: 680px;
    left: 570px;
    top: 302px;
    text-align: center;
}

.sign__up__form input[type=text], .sign__up__form input[type=password] {
    background: #1B212D;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 3px solid #FBFF41;
    width: 280px;
    height: 45px;
    outline: none;
    color: #FFFFFF;
    border-radius: 15px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    transition: .4s;
}

.sign__up__form input[type=text]:focus, .sign__up__form input[type=password]:focus {
    width: 390px;
    background-color: #FBFF41;
    border-color: #FBFF41;
    color: #1B212D;
    transition: .4s;
}

.sign__up__form input[placeholder]::-webkit-input-placeholder {
    color: #FBFF41;
    transition: .4s;
}

.sign__up__form input[placeholder]:focus::-webkit-input-placeholder {
    color: #1B212D;
    transform: translateY(100px);
    transition: .4s;
}

.sign__up__form input[placeholder]::-moz-placeholder {
    color: #FBFF41;
    transition: .4s;
    opacity: 1;
}

.sign__up__form input[placeholder]:focus::-moz-placeholder {
    color: #1B212D;
    transform: translateY(100px);
    transition: .4s;
}

.sign__up__form input[placeholder]:-moz-placeholder {
    color: #FBFF41;
    transition: .4s;
    opacity: 1;
}

.sign__up__form input[placeholder]:focus:-moz-placeholder {
    color: #1B212D;
    transform: translateY(100px);
    transition: .4s;
}

.sign__up__form input[placeholder]:-ms-input-placeholder {
    color: #FBFF41;
    transition: .4s;
    opacity: 1;
}

.sign__up__form input[placeholder]:focus:-ms-input-placeholder {
    color: #1B212D;
    transform: translateY(100px);
    transition: .4s;
}

.main__page__text__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    position: absolute;
    width: 664px;
    height: 433px;
    left: 140px;
    top: 180px;
}

.main__page__lol__text {
    position: static;
    width: 664px;
    height: 20px;
    left: 0;
    top: 0;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 0;
}

.main__page__text__sub__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    position: static;
    width: 664px;
    height: 217px;
    left: 0;
    top: 0;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 30px 0;
}

.main__page__main__text {
    position: static;
    width: 664px;
    height: 192px;
    left: 0;
    top: 25px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 64px;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 5px 0;
}

.main__page__description__text {
    position: static;
    width: 664px;
    height: 96px;
    left: 0;
    top: 247px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;

    color: #C8D0DE;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 30px 0;
}

.main__page__back__rectangle {
    position: absolute;
    width: 376.68px;
    height: 376.68px;
    left: 943.57px;
    top: 216px;

    border: 2px solid #FBFF41;
    border-radius: 45px;
    transform: rotate(15deg);
}

.main__page__front__rectangle {
    position: absolute;
    width: 376.68px;
    height: 376.68px;
    left: 943.57px;
    top: 216px;

    background: #FBFF41;
    border-radius: 45px;
    transform: rotate(-15deg);
}

.main__page__front__rectangle__helper {
    position: relative;
    width: 376.68px;
    height: 450px;
    left: 933px;
    top: 145px;

    border-radius: 45px;
    transform: rotate(-15deg);
    overflow: hidden;
}

.main__page__front__rectangle__helper:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 117%;
    z-index: 10;
    top: -10%;
    background-image: url("../assets/img/woman-main.png");
    background-position: bottom;
    transform: rotate(15deg);
}

.star {
    position: absolute;
    width: 81px;
    height: 81px;
    left: 1310px;
    top: 91px;
}

.star img {
    -webkit-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
    -webkit-animation:blink normal 2s infinite ease-in-out;
    -moz-animation:blink normal 2s infinite ease-in-out;
    animation:blink normal 2s infinite ease-in-out;
}

.star__2 {
    position: absolute;
    width: 62px;
    height: 62px;
    left: 782px;
    top: 221px;
}

.star__2 img {
    -webkit-transition:all 1.5s ease-in-out;
    -o-transition:all 1.5s ease-in-out;
    -moz-transition:all 1.5s ease-in-out;
    transition:all 1.5s ease-in-out;
    -webkit-animation:blink normal 2.5s infinite ease-in-out;
    -moz-animation:blink normal 2.5s infinite ease-in-out;
    animation:blink normal 2.5s infinite ease-in-out;
}

.star__3 {
    position: absolute;
    width: 103px;
    height: 103px;
    left: 1410px;
    top: 500px;
}

.star__3 img {
    -webkit-transition:all 1.8s ease-in-out;
    -o-transition:all 1.8s ease-in-out;
    -moz-transition:all 1.8s ease-in-out;
    transition:all 1.8s ease-in-out;
    -webkit-animation:blink normal 2.8s infinite ease-in-out;
    -moz-animation:blink normal 2.8s infinite ease-in-out;
    animation:blink normal 2.8s infinite ease-in-out;
}

.star__4 {
    position: absolute;
    width: 62px;
    height: 62px;
    left: 31px;
    top: 431px;
}

.star__4 img {
    -webkit-transition:all 1.2s ease-in-out;
    -o-transition:all 1.2s ease-in-out;
    -moz-transition:all 1.2s ease-in-out;
    transition:all 1.2s ease-in-out;
    -webkit-animation:blink normal 2.2s infinite ease-in-out;
    -moz-animation:blink normal 2.2s infinite ease-in-out;
    animation:blink normal 2.2s infinite ease-in-out;
}

.star__5 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 100px;
    top: 100px;
}

.star__5 img {
    -webkit-transition:all 0.8s ease-in-out;
    -o-transition:all 0.8s ease-in-out;
    -moz-transition:all 0.8s ease-in-out;
    transition:all 0.8s ease-in-out;
    -webkit-animation:blink normal 1.8s infinite ease-in-out;
    -moz-animation:blink normal 1.8s infinite ease-in-out;
    animation:blink normal 1.8s infinite ease-in-out;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.test__button {
    background: #1B212D;
    display: block;
    text-align: center;
    border: 3px solid #FBFF41;
    width: 150px;
    height: 100%;
    outline: none;
    color: #FBFF41;
    border-radius: 15px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    transition: .4s;
}

.connect__button {
    position: absolute;
    background: #1B212D;
    display: block;
    right: 50px;
    text-align: center;
    border: 3px solid #FBFF41;
    width: 150px;
    height: 100%;
    outline: none;
    color: #FBFF41;
    border-radius: 15px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    transition: .4s;
}

.test__button:hover {
    background: #FBFF41;
    color: #1B212D;
    transition: .4s;
}

.connect__button:hover {
    background: #FBFF41;
    color: #1B212D;
    transition: .4s;
}

.main__buttons {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    width: 400px;
    top: 620px;
    left: 140px;
    height: 50px;
}

.sign__up__error__message {
    position: absolute;
    width: 400px;
    left: 570px;
    top: 970px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: red;
    padding-bottom: 30px;
}

.sign__in__error__message {
    position: absolute;
    width: 400px;
    left: 570px;
    top: 700px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: red;
    padding-bottom: 30px;
}

.admin__logo {
    position: absolute;
    width: 192px;
    height: 36px;
    left: 140px;
    top: 22px;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    font-weight: 700;
    color: #FBFF41;
}

.admin__service__buttons {
    position: absolute;
    width: 300px;
    height: 1000px;
    left: 620px;
    top: 250px;
    text-align: center;
}

.admin__service__buttons__each {
    background: #1B212D;
    display: block;
    text-align: center;
    border: 3px solid #FBFF41;
    width: 100%;
    height: 50px;
    outline: none;
    color: #FBFF41;
    border-radius: 15px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    transition: .4s;
}

.group_checkbox {
    background: #1B212D;
    display: block;
    text-align: center;
    border: 3px solid #FBFF41;
    width: 50px;
    height: 50px;
    outline: none;
    color: #FBFF41;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}

.admin__service__buttons__each:hover {
    background: #FBFF41;
    color: #1B212D;
    transition: .4s;
}

.adm__panel__text {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 620px;
    top: 125px;
    text-align: center;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: xxx-large;
    color: #FBFF41;
}

.adm__error__message {
    position: absolute;
    width: 400px;
    left: 570px;
    top: 1400px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: red;
    padding-bottom: 30px;
}
